@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* browser reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* created variables for colors  */
:root{
    --primany-color:#FF900E;
    --secondary-color: #FFF4E7;
    --text-bold: #131313;
    --text-light:#727272;
    --num-color: #424242;
    --white-color:#ffffff;
}
/* common styles  */
/* Common classes to make works easier */
.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .container{
    max-width: 1440px;
    margin: 0 auto;
  }
  .d-flex{
    display: flex;
  }
  .bg-color{
    background-color: rgba(255, 144, 14, 0.1);
  }
  .btn{
    padding: 20px 25px;
    border: none;
    background-color: var(--primany-color);
    color: var(--white-color);
    font-weight: 600;
    font-size: 1.2rem;
  }
  .light-text{
    color: #727272;
  }
  /* navbar design*/
  .navbar{
    justify-content: space-between;
    align-items: center;
  }
  .navbar-brand{
    font-size: 3rem;
    font-weight: 700;

  }
  .nav-item{
    list-style: none;
  }
  .nav-link{
    text-decoration: none;
    color: var(--text-light);
    margin-right: 20px;
  }

/* banner styles */

.banner .banner-text{
  max-width: 60%;
  text-align: center;
  margin: 0 auto;
}
.banner .banner-title{
  font-size: 4rem;
  font-weight: 700;
  margin: 1rem;
}
.banner .banner-details{
  margin: 1rem;
}
.banner .banner-img{
  margin-top: 3rem;
}